<link rel='stylesheet' href='/stylesheets/admin.css' />

<div class="container">
    <h4>Nueva noticia:</h4>
    <div class="row">
        <form action="/admin/noticias/agregar" method="post">
            <div class="mb-3">
                <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Título">
            </div>
            <div class="mb-3">
                <textarea type="text" class="form-control" id="Subtitulo" name="subtitulo" placeholder="Subtitulo" rows="2"></textarea>
            </div>
            <div class="mb-3">
                <textarea type="text" class="form-control" id="Subtitulo" name="cuerpo" placeholder="Cuerpo" rows="4"></textarea>
            </div>
            <button type="submit" class="btn btn-danger">Guardar</button>
        </form>
        {{#if error}}
            <p>{{message}}</p>
        {{/if}}
    </div>
</div>