<!DOCTYPE html>
<html>

  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    {{!-- <link rel="stylesheet" href="css/riverpedia.css"> --}}
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

      <header>
        <div class="holder">
            <div class="header">
                <img src="/images/header/river.png" alt="logo">
                <h1>Riverpedia</h1>
            </div>
        </div>
    </header>

    {{{body}}}

    <footer>
        <p>Diseñado por Ruben Avans - &copy;2022</p>
    </footer>

  </body>
</html>
