<link rel='stylesheet' href='/stylesheets/admin.css' />

<div class="logout">
    <div class="container">
        {{!-- fila 1 --}}
        <div class="row">
            <p class="text-end">Bienvenido {{usuario}} <a href="/admin/login/logout" class="btn btn-danger">Cerrar sesión <i
                        class="fa-solid fa-circle-xmark"></i></a></p>
        </div>
        {{!-- fin fila 2 --}}
    </div>
</div>