.homeimg{
    margin-bottom: 24px;
}

.homeimg img{
    border-radius: 10px;
}

.columnas{
    display: flex;
    flex-direction: row;
}

.river{
    width: 65%;
    margin-right: 30px;
}

.ultimanoticia{
    width: 35%;
    background-color: #ccc;
    padding: 15px;
    border-radius: 5px;
}

.noticia{
    display: flex;
    flex-direction: column;
}


.fotonoticia img{
    border-radius: 5px;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.titulo{
    font-weight: 500;
    font-size: 25px;
}

main .noticia a{
    width: 100px;
    margin-top: 5px;
}