



.noticias{
    border: 1px solid #cc0000;
    border-radius: 10px;
    margin: 10px 10px 10px 0px;
    padding: 10px;
    overflow: hidden;
}

.noticias .info{
    width: 60%;
    margin-top: 20px;
}

.noticias h2{
    color: #e61919;
    font-size: 20px;
     font-weight: bold;
    border-bottom: 1px solid #cc0000;
    margin-bottom: 16px;
    padding-bottom: 8px;
}

.noticias img{
    float: right;
    border-radius: 5px;
    margin: 20px 50px 5px 5px ;
    margin-left: 5px;
}

.button {
    margin-top: 25px;
}